html, body {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
}

main.page-content {
  flex: 1 1 auto;
  padding: 24px 0;
}

// .offMobile {
//   display: block;
// }
// .onMobile {
//   display: none;
// }
// @media (max-width: 992px) {
//   .offMobile {
//     display: none;
//   }
//   .onMobile {
//     display: block;
//   }
// }