$color-primary: #4E60FF;
$color-primary-light: #F3F4FF;
$color-secondary: #FD6D22;
$color-secondary-light: #FFF3ED;
$color-white: #fff;
$color-dark: #2F3367;
$color-grey: #8B8FA8;
$color-grey-light: #CECECE;
$color-grey-dark: #898E95;
$color-grey-lightest: #EDEEF2;
$color-error: #FF5C60;
$color-error-light: #ffdfe0;
$color-yellow: #FFDC9F;
$color-yellow-light: #ffecca;
$color-yellow-dark: #FFA609;
$color-green: #155724;
$color-green-light: #d4edda;
$color-neutral-black:  #2B2B43;
$color-blue: #2364AA;
$color-blue-darkest: #004E89;
$color-blue-lightest: #80BEFC;
$color-bgdark: #898E95;
